header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}
.text-light {
  padding-top: 1.5rem;
}

.header__container {
  text-align: center;
  position: relative;
  height: 100%;
}

/*===========================CTA ========================== */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/*=========================== Header Socials ========================== */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  /* left: 0; */
  left: 20rem;
  bottom: 3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background-color: var(--color-primary);
}
/*=========================== Me Picture ========================== */

#me-head {
  width: 21rem;
  height: 21rem;
  position: absolute;
  left: calc(50% - 10rem);
  margin-top: 0.4rem;
  border-radius: 13rem 13rem 0 0;
  overflow: hidden;
  padding: 1.5rem 2.8rem 1.5rem;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* .me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  overflow: hidden;
  padding: 1.5rem 2.8rem 1.5rem;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
} */

/*=========================== SCROLL DOWN ========================== */
.scroll__down {
  position: absolute;
  right: 17rem;
  /* right: -2.3rem;  */
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

/* ================================Media Query(MEDIUM DEVICES)============================= */

@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* ================================Media Query(SMALL DEVICES)============================= */

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials .scroll__down {
    display: none;
  }
}
